@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,600;1,700&family=Open+Sans:wght@300;400;500;700&display=swap');

:root {
    --primary: rgb(42, 123, 237);
    --primary-hover: rgb(17, 110, 240);
    --secondary: rgb(244, 156, 68);
    --secondary-hover: rgb(231, 99, 18);
    --border-input: rgb(83, 81, 81);
    --header-height: 65px;
    --message-item-height: 64px;
    --action-btn-font-size: 22px;
    --margin-top-content: 80px;
    --positive: #31a24c;
    --font-family-username: 'Helvetica Neue', Helvetica, Arial;
    --white: #fff;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

a {
    color: #000;
    text-decoration: none;
}

.online {
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: var(--positive);
    border-radius: 50%;
    border: 1px solid #000;
    top: 64%;
    left: 80%;
}
