.wrapper {
    width: 35%;
    padding-right: 20px;
}

.header {
    position: fixed;
    top: 0;
    width: 23.4%;
    margin-top: calc(var(--margin-top-home-content) - 12px);
    padding-top: 10px;
    z-index: 5;
    background-color: #fff;

    .search {
        width: 100%;
        margin-top: 10px;
    }
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    margin-top: calc(var(--margin-top-home-content) + 15px);
    max-height: 400px;
    overflow-x: hidden;
}

.wrapper-message-item {
    position: relative;
}
