.wrapper {
    width: 65%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
}

.none-reciever {
    font-size: 70px;
}

.header,
.content,
.send-message {
    position: fixed;
    width: var(--width-chat-content);
}

// header

.header {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ccc;
    padding: 0 10px;
    top: 70px;
    z-index: 5;
    box-shadow: 0 1px 4px 0px #000;
}

.receiver {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 15px;

    span {
        font-family: var(--font-family-primary);
        font-weight: 550;
    }

    p {
        font-size: 14px;
    }
}

.action-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

//  content

.content {
    max-height: 480px;
    overflow-x: hidden;
    top: 126px;
    bottom: 50px;
}

// send-message input

.send-message {
    max-height: 40px;
    bottom: 60px;
}

// loading
.loading {
    font-size: 25px;
    animation: spinner linear 1s infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
