.wrapper {
    height: var(--message-item-height);
    border-radius: 10px;
    border: 1px solid #aaa;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;
    position: relative;
    background-color: #fff;

    &:hover {
        cursor: pointer;
        background-color: #ddd;
    }
}
.wrapper + .wrapper {
    margin-top: 5px;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.username {
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-family-primary);
}

.message {
    font-size: 14px;
}

.username,
.message {
    max-width: 260px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    user-select: none;
}
