.wrapper {
    width: 100%;
    padding: var(--width-of-chat-app);
    margin-top: var(--margin-top-home-content);
}

.body {
    position: relative;
    top: 30px;
}

.label {
    font-weight: 600;
}

.input-file {
    margin-left: 20px;
}

.textarea {
    margin-top: 50px;
    border-radius: 5px;
    outline: none;
    padding: 20px;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border: 1px solid #aaa;
}

.result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.encrypt-btn {
    padding: 10px 15px;
    background-color: var(--primary);
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
}

.result a {
    display: block;
    color: rgb(48, 48, 214);
    text-decoration: underline;
}
