.logo {
    width: 65px;
    height: 65px;
}

.current-user {
    cursor: pointer;
}

.arounded {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
