.wrapper {
    display: flex;
    align-items: center;
    // margin-top: 5px;
}

.sender {
    flex-direction: row-reverse;
}

.wrapper-content {
    max-width: 80%;
    display: flex;
    position: relative;
}

.text-message {
    display: block;
    width: 100%;
    background-color: #ccc;
    padding: 8px 10px;
    border-radius: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: left;
    line-height: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.urlText {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.img-message {
    cursor: pointer;
    max-width: 20rem;
    height: auto;
    user-select: none;
}

.wrapper-file-message {
    background-color: #ccc;
    max-width: 100%;
    padding: 8px 14px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .file-icon {
        font-size: 22px;
    }

    .properties {
        padding: 0 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    p {
        font-size: 15px;
        text-decoration: underline;
        font-weight: 600;
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    span {
        font-size: 12px;
        letter-spacing: 1px;
    }
}

.video {
    width: 30rem;
    height: auto;
    border-radius: 5px;
}

.message-sended-actions {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    width: 10%;
}

.time-message {
    font-size: 14px;
    padding: 0 2px;
}

.reaction-icon {
    position: absolute;
    right: 10px;
    bottom: -12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    user-select: none;

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        padding: 1px;
    }
}
